<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Change Password
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Change Password
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <form #chpwdform="ngForm" novalidate (ngSubmit)="chpwdform.submitted && chpwdform.valid && submitForm($event)">
                <div class="col-lg-3">
                    <!--<div class="text-center">
                        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                        <h6>Upload a different photo...</h6>

                        <input type="file" class="form-control">
                    </div>-->
                </div>
                <div class="col-lg-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" tabindex="1" name="Email" [(ngModel)]="passupdate.eMail" #Email="ngModel" placeholder="Enter your Email" required maxlength="200"
                                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <div *ngIf="Email.errors && !(Email.valid || (Email.pristine && !chpwdform.submitted))">
                                <small [hidden]="!Email.errors.required" class="text-danger-left">Please enter Email.</small>
                                <small [hidden]="!Email.errors.pattern" class="text-danger-left">Please enter valid Email.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="text" class="form-control" name="FirstName"
                                   [(ngModel)]="passupdate.oldPwd" placeholder="FirstName" required maxlength="255" #FirstName="ngModel">
                          
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" tabindex="1" name="Password" [(ngModel)]="passupdate.newPwd" required
                                   minlength="8" maxlength="20" placeholder="Enter your Password" #Password="ngModel">
                            <div *ngIf="Password.errors && !(Password.valid || (Password.pristine && !chpwdform.submitted))">
                                <small [hidden]="!Password.errors.required" class="text-danger-left">Please enter Password (minimum 8 characters).</small>
                                <small *ngIf="Password.errors.minlength && Password.errors.minlength.actualLength < 8" class="text-danger-left">Please enter Password (minimum 8 characters).</small>
                            </div>
                        </div>
                    <div class="form-group">
                        <label>Conform Password</label>
                        <input type="password" class="form-control" tabindex="1" name="RepeatPassword" [(ngModel)]="passupdate.RepeatPassword" placeholder="Confirm your Password" required
                               minlength="8" maxlength="20" validateEqual="Password" #RepeatPassword="ngModel">
                        <div *ngIf="RepeatPassword.errors && !(RepeatPassword.valid || (RepeatPassword.pristine && !chpwdform.submitted))">
                            <small [hidden]="!RepeatPassword.errors.required" class="text-danger-right">Please enter Confirm Password (minimum 8 characters).</small>
                            <small *ngIf="RepeatPassword.errors.minlength && RepeatPassword.errors.minlength.actualLength < 8" class="text-danger">Please enter Confirm Password (minimum 8 characters).</small>
                            <small *ngIf="!RepeatPassword.errors.required && !RepeatPassword.errors.minlength && !RepeatPassword.errors.validateEqual" class="text-danger-left">Password mismatch.</small>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-primary">Submit </button>
                        <button type="reset" class="btn btn-primary">Reset </button>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>