<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Edit Profile
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Edit Profile
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <form #userprofileform="ngForm" novalidate (ngSubmit)="userprofileform.submitted && userprofileform.valid && submitForm($event)">
                <div class="col-lg-3">
                    <div class="text-center">
                        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                        <h6>Upload a different photo...</h6>

                        <input type="file" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                        <div class="form-group">
                            <label>First name:</label>
                           <!-- <input class="form-control">-->
                            <input type="text" class="form-control" name="FirstName"
                                   [(ngModel)]="userprofile.firstName" placeholder="FirstName" required maxlength="255" #FirstName="ngModel">
                            <!--<p class="help-block">Enter your first name.</p>-->
                            <!--<div *ngIf="FirstName.errors && !(FirstName.valid || (FirstName.pristine && !form.submitted))">
                                <small [hidden]="!FirstName.errors.required" class="text-danger-left">Please enter User Name.</small>
                            </div>-->
                        </div>
                        <div class="form-group">
                            <label>Last name:</label>
                            <input type="text" class="form-control" name="LastName"
                                   [(ngModel)]="userprofile.lastName" placeholder="LastName" required maxlength="255" #LastName="ngModel">
                            <!--<input class="form-control">
                            <p class="help-block">Enter your last name.</p>-->
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" tabindex="1" name="Email" [(ngModel)]="userprofile.email" #Email="ngModel" placeholder="Enter your Email" required maxlength="200"
                                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" disabled>
                            <div *ngIf="Email.errors && !(Email.valid || (Email.pristine && !userprofileform.submitted))">
                                <small [hidden]="!Email.errors.required" class="text-danger-left">Please enter Email.</small>
                                <small [hidden]="!Email.errors.pattern" class="text-danger-left">Please enter valid Email.</small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit </button>
                        <button type="button" (click)="redirectToDashbord();" class="btn btn-primary">Cancel</button>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>