<div class="main_cantent_inner">
    <h2>Email Template</h2>
    <div class="row">
        <div class="col-lg-12 col_padding">
            <div class="add_shift">
                <div class="fields_container">
                    <div class="add_section">

                        <!--<a id="add_fields">
                            Edit Template
                        </a>-->
                    </div>
                </div>
               <!-- <ai-modal #modal modalTitle="Reset Email Template" modalContent="Are sure you wish to reset this Email template?" showCancel="true" (modalClicked)='resetTemplate()'></ai-modal>-->
                <div class="show_addsection">
                    <form #emtemp="ngForm"  novalidate (ngSubmit)="emtemp.submitted && emtemp.valid && submitForm($event)">
                          
                                    
                                        <div class="form-group">
                                            <label>Template</label>
                                           <!-- <label class="templatelbl">{{emailtemp.TemplateName}}</label>-->
                                            <input type="text" class="form-control" [(ngModel)]="emailtemp.EmailTemplateName" name="TemplateName" disabled/>
                                        </div>
                                     
                                        <div class="form-group">
                                            <label class="twenty_five ">Subject</label>
                                            <input type="text" class="form-control"  name="Subject" [(ngModel)]="emailtemp.EmailSubject" required #Subject="ngModel">
                                            <div *ngIf="Subject.errors && !(Subject.valid || (Subject.pristine && !emtemp.submitted))">
                                                <small [hidden]="!Subject.errors.required" class="text-danger-leftemail">Please enter Subject.</small>
                                            </div>
                                        </div>
                                    
                                    <div class="form-group">
                                            <label  style="width:100% !important;">Body</label>
                                            <p-editor [(ngModel)]="emailtemp.EmailBody" name="Body"></p-editor>
                                      
                                    </div>
                                  
                             
                           
                                   
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-primary" (click)="cancelFormData()">Cancel</button>
                                    
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>