<div class="main_cantent_inner">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Advance Search
            </h1>
        </div>
    </div>
    <div class="row">
        <form #formadvancesearch="ngForm" novalidate (ngSubmit)="formadvancesearch.submitted && formadvancesearch.valid && submitForm($event)">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>File name:</label>                  
                    <input type="text" class="form-control" name="FileName"
                           [(ngModel)]="search.FileName" placeholder="FileName"
                            maxlength="255" #FileName="ngModel">               
                </div>
                <div class="form-group">
                    <label>Extension:</label>
                    <input type="text" class="form-control" name="Extension"
                           [(ngModel)]="search.Extension" placeholder="Extension"
                            maxlength="255" #Extension="ngModel">                 
                </div>                
                <button type="submit" class="btn btn-primary">Submit </button>              
            </div>
        </form>
    </div>
    <div class="col-lg-12 col_padding">
        <div class="row">
            <div class="view_department">
                <div class="panel panel-primary filterable ">
                    <div class="table-responsive">
                        <table class="table table-striped " [mfData]="filteredData" #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" [mfActivePage]="activePage">

                            <thead>
                                <tr>
                                    <th class="td-width-15">
                                        <mfDefaultSorter by="FileName">File Name</mfDefaultSorter>
                                    </th>
                                    <th class="td-width-15">
                                        <mfDefaultSorter by="Extension">Extension</mfDefaultSorter>
                                    </th>
                                    <th class="td-width-15">
                                        <mfDefaultSorter by="CreatedByName">Created By</mfDefaultSorter>
                                    </th>
                                    <th class="td-width-15">
                                        <mfDefaultSorter by="CreatedOn">Created On</mfDefaultSorter>
                                    </th>
                                    <th class="td-width-15">
                                        <mfDefaultSorter by="LockedByName">Locked By</mfDefaultSorter>
                                    </th>
                                    <th class="td-width-15">
                                        <mfDefaultSorter by="DocumentTags">Document Tag(s)</mfDefaultSorter>
                                    </th>
                                    <th class="td-width-15" style="width:10% !important">
                                        Operations
                                    </th>
                                </tr>
                                <tr class="filters">
                                    <th><input type="text" class="form-control" [(ngModel)]="FileNameFilter" (ngModelChange)="filterDocuments()"></th>
                                    <th><input type="text" class="form-control" [(ngModel)]="ExtensionFilter" (ngModelChange)="filterDocuments()"></th>
                                    <th><input type="text" class="form-control" [(ngModel)]="CreatedByFilter" (ngModelChange)="filterDocuments()"></th>
                                    <th><input type="text" class="form-control" [(ngModel)]="CreatedOnFilter" (ngModelChange)="filterDocuments()"></th>
                                    <th><input type="text" class="form-control" [(ngModel)]="LockedByFilter" (ngModelChange)="filterDocuments()"></th>
                                    <th><input type="text" class="form-control" [(ngModel)]="DocumentTagFilter" (ngModelChange)="filterDocuments()"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of  mf.data">
                                    <td>
                                        {{item.FileName}}
                                    </td>
                                    <td>{{item.Extension}}</td>
                                    <td>{{item.CreatedByName}}</td>
                                    <td>{{item.CreatedOn | date: 'shortDate' }}</td>
                                    <td>{{item.LockedByName}}</td>
                                    <td>{{item.DocumentTags}}</td>
                                    <td>
                                        <a (click)="DownloadDoc();" style="cursor:pointer" title="download"><span class="glyphicon glyphicon-download"></span></a>
                                        <a (click)="showDlteCOnfirm(item.DocumentId);" style="cursor:pointer" title="delete"><span class="glyphicon glyphicon-remove"></span></a>
                                        <a (click)="LockDoc(item.DocumentId);" style="cursor:pointer" [title]="item.LockStatus">
                                            <span *ngIf="item.IsDocCheckedOut" class="fa fa-unlock">
                                            </span>
                                            <span *ngIf="!item.IsDocCheckedOut" class="glyphicon glyphicon-lock">
                                            </span>
                                        </a>
                                        <a (click)="ViewAccessHistory(item.DocumentId);" title="Access history"><span class="fa fa-history"></span></a>
                                        <a (click)="ViewVersionHistory(item.DocumentId);" title="Version history"><span class="fa fa-file-text"></span></a>
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>