<div class="main_cantent_inner">
    <h2>Documents</h2>
    <div class="row">
        <div class="col-lg-12 col_padding">
            <div class="fields_container">
                <div class="add_section">
                    <h3>Search Documents</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col_padding">
            <div class="row">
                <div class="view_department">
                    <div class="panel panel-primary filterable ">
                        <div class="table-responsive">
                            <table  class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th class="td-width-30">
                                            FileName
                                        </th>
                                        <th class="td-width-15">
                                            Extension
                                        </th>
                                        <th class="td-width-35">
                                            CreatedBy
                                        </th>
                                        <th class="td-width-30">
                                            IsShared
                                        </th>
                                    </tr>
                                    <!--<tr class="filters">
                                        <th><input type="text" class="form-control" [(ngModel)]="FileNameFilter" (ngModelChange)="filterDocuments()"></th>
                                        <th><input type="text" class="form-control" [(ngModel)]="ExtensionFilter" (ngModelChange)="filterDocuments()"></th>
                                        <th><input type="text" class="form-control" [(ngModel)]="CreatedByFilter" (ngModelChange)="filterDocuments()"></th>
                                        <th><input type="text" class="form-control" [(ngModel)]="IsSharedFilter" (ngModelChange)="filterDocuments()"></th>
                                    </tr>-->
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>test</td>
                                    </tr>
                                    <!--<tr *ngFor="let item of filteredData">
                                        <td class="">
                                            {{item.FileName}}
                                        </td>
                                        <td class="">{{item.Extension}}</td>
                                        <td class="">{{item.CreatedBy}}</td>
                                        <td class="">{{item.IsShared}}</td>
                                    </tr>-->
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50]"></mfBootstrapPaginator>-->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
