<div class="main_cantent_inner">
    <h2>Document Access History</h2>
    <div class="row" [ngBusy]="busy">
        <a class="pull-right" (click)="NavigateToDocuments();" title="Back to Document List" style="cursor:pointer; font-size:medium; margin-bottom:1%;">
        <span class="fa fa-long-arrow-left">Back to Document List</span>
        </a>
        <div class="col-lg-12 col_padding">
            <div class="row">
                <div class="view_department">
                    <div class="panel panel-primary filterable ">
                        <div class="table-responsive">
                            <table class="table table-striped " [mfData]="filteredData" #mf="mfDataTable"
                                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" [mfActivePage]="activePage">

                                <thead>
                                    <tr>
                                        <th class="td-width-30">
                                            <mfDefaultSorter by="Action">Action</mfDefaultSorter>                                            
                                        </th>
                                        <th class="td-width-15">
                                            <mfDefaultSorter by="PerformedBy">Performed By</mfDefaultSorter>  
                                            
                                        </th>
                                        <th class="td-width-35">
                                            <mfDefaultSorter by="PerformedOn">Performed On</mfDefaultSorter>  
                                            
                                        </th>
                                    </tr>
                                    <tr class="filters">
                                        <th><input type="text" class="form-control" [(ngModel)]="ActionFilter" (ngModelChange)="filterHistory()"></th>
                                        <th><input type="text" class="form-control" [(ngModel)]="PerformedByFilter" (ngModelChange)="filterHistory()"></th>
                                        <th><input type="text" class="form-control" [(ngModel)]="PerformedOnFilter" (ngModelChange)="filterHistory()"></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of  mf.data">
                                        <td>
                                            {{item.Action}}
                                        </td>
                                        <td>{{item.PerformedByName}}</td>
                                        <td>{{item.PerformedOn | date: 'shortDate'}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50]"></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
